<h1 class="mt-5" style="color: #118915; text-align: center;">Detalles del Usuario</h1>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><%= @user.nombre %> <%= @user.apellido %></h2>
        </div>
        <div class="card-body">
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>CUIT:</strong> <%#= @user.cuit %></p>
          <p><strong>Domicilio:</strong> <%#= @user.domicilio %></p>
          <p><strong>Teléfono:</strong> <%#= @user.telefono %></p>
          <p><strong>Tipo de Usuario:</strong>
            <% if @user.tipo_de_usuario == 'a' %> Administrador
            <% elsif @user.tipo_de_usuario == 'o' %> Operador
            <% elsif @user.tipo_de_usuario == 'c' %> Capitalizador
            <% else %> No autorizado
            <% end %>
          </p>

          <%# if @user.certificado_mipyme.present? %>
            <p><strong>Certificado MiPyME:</strong> <%#= @user.certificado_mipyme %></p>
          <%# end %>

          <hr>

          <!-- Acciones -->
        </div>
      </div>
    </div>
  </div>
</div>
