
<div class="banner">
  <div class="video-background">
    <video src="https://assets-global.website-files.com/621aeb805857fc0c3cf0e21d/621daa96c06fc4ff5f503763_iStock-1006142660-transcode.mp4" autoplay loop muted></video>
    <div class="banner-content">
      <h1>Welcome to our website!</h1>
      <p>Check out our amazing products and services.</p>
    </div>
  </div>
</div>
