<% if current_user.tipo_de_usuario == 'a' || current_user.tipo_de_usuario == 'o' %>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Informe de Power BI</h1>
    <iframe title="GDM 300924" width="100%" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiY2MzNTBmNTQtMmI0Zi00ZjMwLTk3ZmYtMjBmMjcyYmMyNjhiIiwidCI6IjU4MGM0YWZlLWE0YzEtNGE4NS05Nzk3LTIxZjNhOTMyMjM1OSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="TABLERO DE CONTRATOS" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYzI2ZjJkY2YtNDlkNC00YjVlLTkxZDgtOWVkZGRhN2U5OTFkIiwidCI6ImY4MzNmNjI4LTA4MGEtNDJkOS1hOTVmLWU5ZTFjM2Y0MWNiZCJ9" frameborder="0" allowFullScreen="true"></iframe>
    <iframe title="TABLERO DE RECRIA" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZmQxMDY0ZGEtZTc5ZC00M2E5LWIwNDgtMzQxYTFkMzk4OTk2IiwidCI6ImY4MzNmNjI4LTA4MGEtNDJkOS1hOTVmLWU5ZTFjM2Y0MWNiZCJ9" frameborder="0" allowFullScreen="true"></iframe>
  </div>
<% end %>
