<div class="container">
 <div class="row justify-content-center">
    <h1 style="color: #118915; text-align: center;" class='mt-5 bannertit'>Informes</h1>
    <% @archivos.each do |archivo| %>
      <div class="card m-2 col-lg-3 col-md-5 col-sm-12">
        <div class="card-body">
          <h5 class="card-title texto-verde"><%= archivo.titulo %></h5>
          <p class="card-text">
            <strong>Descripción:</strong>
            <%= archivo.descripcion.length > 50 ? archivo.descripcion.slice(0, 50) + '...' : archivo.descripcion %>
          </p>

          <div class="d-flex align-items-center justify-content-between">
            <p class="card-text texto-verde fecha" style="margin-bottom: 0px;"><strong>Creado en:</strong> <%= archivo.created_at.strftime("%d/%m/%Y") %></p>
            <%= link_to 'VER MÁS', archivo, class: "boton" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
