<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style>
    body { font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; }
    .container { max-width: 600px; margin: 20px auto; padding: 20px; }
    .card { background: #f7f7f7; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    .header { text-align: center; padding-bottom: 20px; }
    .content { color: #555; }
    .btn { background-color: #dc3545; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; }
    .footer { font-size: 12px; text-align: center; margin-top: 20px; color: #888; }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="header">
        <%= image_tag "https://assets-global.website-files.com/621aeb805857fc0c3cf0e21d/622f4c2f2ff2cc54d67f5e95_WhatsApp%20Image%202022-03-09%20at%203.18.33%20PM%20copy.jpg", style: "max-height: 50px;" %>
      </div>
      <div class="content">
        <h2>Desbloqueo de Cuenta</h2>
        <p>Hola <%= @resource.email %>,</p>
        <p>Tu cuenta ha sido bloqueada por varios intentos fallidos de inicio de sesi贸n. Para desbloquearla, haz clic en el bot贸n a continuaci贸n:</p>
        <p style="text-align: center;">
          <a href="<%= unlock_url(@resource, unlock_token: @token) %>" class="btn">Desbloquear Cuenta</a>
        </p>
        <p>Si no intentaste iniciar sesi贸n, por favor ignora este mensaje.</p>
      </div>
      <div class="footer">
        &copy; 2024 Invernea. Todos los derechos reservados.
      </div>
    </div>
  </div>
</body>
</html>
